name: Generate GitHub Stats SVG

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Jayapramod
          template: classic
          base: header, activity, repositories
          config_timezone: Asia/Kolkata
          filename: metrics.svg
          output_action: github-pages
