name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate stats SVG
        uses: anuraghazra/github-readme-stats@master
        with:
          username: Jayapramod
          theme: dracula
          show_icons: true
          count_private: true
          hide_border: true
          output: stats.svg

      - name: Push stats
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
